<?xml version="1.0" encoding="UTF-8"?>
<config>
    <photo_adaptivethresholdingradius>7</photo_adaptivethresholdingradius>    
    <intelligence_skewdetection>0</intelligence_skewdetection>         
    <intelligence_numberOfBands>3</intelligence_numberOfBands>     
    <intelligence_numberOfPlates>3</intelligence_numberOfPlates>     
    <intelligence_numberOfChars>20</intelligence_numberOfChars>     
    <intelligence_minimumChars>5</intelligence_minimumChars> 
    <intelligence_maximumChars>15</intelligence_maximumChars>
    <intelligence_maxCharWidthDispersion>0.5</intelligence_maxCharWidthDispersion>
    <intelligence_minPlateWidthHeightRatio>0.5</intelligence_minPlateWidthHeightRatio>
    <intelligence_maxPlateWidthHeightRatio>15.0</intelligence_maxPlateWidthHeightRatio>
    <intelligence_minCharWidthHeightRatio>0.1</intelligence_minCharWidthHeightRatio>
    <intelligence_maxCharWidthHeightRatio>0.92</intelligence_maxCharWidthHeightRatio>
    <intelligence_maxBrightnessCostDispersion>0.161</intelligence_maxBrightnessCostDispersion>
    <intelligence_maxContrastCostDispersion>0.1</intelligence_maxContrastCostDispersion>
    <intelligence_maxHueCostDispersion>0.145</intelligence_maxHueCostDispersion>
    <intelligence_maxSaturationCostDispersion>0.24</intelligence_maxSaturationCostDispersion>
    <intelligence_maxHeightCostDispersion>0.2</intelligence_maxHeightCostDispersion>
    <intelligence_maxSimilarityCostDispersion>100.0</intelligence_maxSimilarityCostDispersion>
    <char_normalizeddimensions_x>8</char_normalizeddimensions_x>
    <char_normalizeddimensions_y>13</char_normalizeddimensions_y>
    <char_learnAlphabetPath>./Resources/Alphabets/Alphabet_8x13</char_learnAlphabetPath>
    <char_resizeMethod>1</char_resizeMethod>
    <char_featuresExtractionMethod>0</char_featuresExtractionMethod>
    <intelligence_classification_method>0</intelligence_classification_method>
    <char_neuralNetworkPath>./Resources/neuralnetworks/network_avgres_813_map.xml</char_neuralNetworkPath>
    <neural_maxk>8000</neural_maxk>
    <neural_eps>0.07</neural_eps>
    <neural_lambda>0.05</neural_lambda>
    <neural_micro>0.5</neural_micro>
    <neural_topology>20</neural_topology>
    <intelligence_syntaxanalysis>2</intelligence_syntaxanalysis>
    <intelligence_syntaxDescriptionFile>./Resources/Syntax/syntax.xml</intelligence_syntaxDescriptionFile>
    <carsnapshot_graphrankfilter>9</carsnapshot_graphrankfilter>
    <carsnapshot_distributormargins>25</carsnapshot_distributormargins>
    <carsnapshotgraph_peakDiffMultiplicationConstant>0.1</carsnapshotgraph_peakDiffMultiplicationConstant>
    <carsnapshotgraph_peakfootconstant>0.55</carsnapshotgraph_peakfootconstant>
    <bandgraph_peakDiffMultiplicationConstant>0.2</bandgraph_peakDiffMultiplicationConstant>
    <bandgraph_peakfootconstant>0.55</bandgraph_peakfootconstant>
    <platehorizontalgraph_detectionType>1</platehorizontalgraph_detectionType>
    <platehorizontalgraph_peakfootconstant>0.05</platehorizontalgraph_peakfootconstant>
    <plateverticalgraph_peakfootconstant>0.42</plateverticalgraph_peakfootconstant>
    <plategraph_rel_minpeaksize>0.86</plategraph_rel_minpeaksize>
    <plategraph_peakfootconstant>0.7</plategraph_peakfootconstant>
</config>
